.container {
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    width: 1400px;
    margin: 0 auto;
  }
  
  .titleRow {
    display: flex;
    justify-content: center;
    height: 15vh;
    margin-bottom: 20px;
  }
  
  .recent {
    
    font-weight: 400;
    font-style: italic;
    font-size: 141px;
  }
  
  .projects {
    font-weight: 800;
    font-size: 141px;
  }
  
  .subLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  .subLinks span {
    white-space: nowrap;
  }
  
  .line {
    height: 1px;
    width: 380px;
    background-color: gray;
  }

  .gridWrapper{
    width: 1400px;
    margin: 0 auto;
  }
  
   @media (max-width: 786px) and (max-width: 834px)  {
    .container {
      padding: 10px 10px;
      margin: 0;
      width: 340px;
    }

    .titleRow {
       
        height: 7vh;
  
      }

    .recent{
        font-size: 14px;
    }

    .projects{
        font-size: 34px;
    }

    .subLinks {
        gap: 10px;
        font-size: 6px;
      }

      .line {
        height: 1px;
        width: 40px;
      }

      .gridWrapper{
        width: 100%;
      }
  }


@media (max-width: 486px) {
 .container {
      padding: 10px 10px;
      margin: 0;
      width: 340px;
    }

    .titleRow {
       
        height: 2vh;
      
      }

    .recent{
        font-size: 14px;
    }

    .projects{
        font-size: 34px;
    }

    .subLinks {
        gap: 10px;
        font-size: 6px;
      }

      .line {
        height: 1px;
        width: 40px;
      }

      .gridWrapper{
        width: 100%;
      }
      }

      @media (min-width: 1024px) and (max-width: 1366px) { 
        .container {
      padding: 10px 10px;
      margin: 0;
      width: 340px;
    }

    .titleRow {
       
        height: 7vh;
  
      }

    .recent{
        font-size: 14px;
    }

    .projects{
        font-size: 34px;
    }

    .subLinks {
        gap: 10px;
        font-size: 6px;
      }

      .line {
        height: 1px;
        width: 40px;
      }

      .gridWrapper{
        width: 100%;
      }
      }
    

