.container {
   
    color: white;
    padding: 2rem;
    max-width: 1400px;
    margin: 40px auto;
  }
  
  .heading {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 2.8rem;
    line-height: 100%;
    text-transform: uppercase;
  }
  
  .paragraph {
    font-size: 32px;
    line-height: 56px;
    margin-bottom: 1.5rem;
    color: #bdbdbd;
    width: 1300px;
  }
  
  .paragraph strong {
    color: white;
    font-weight: 600;
  }

   @media screen and (max-width: 760px)  {
      .container {
      padding: 1rem 0.5rem;
      margin-bottom: 10px;
      width: 90%;
      
    }
  
    .heading {
      font-size: 20px;
      margin-bottom: 2rem;
    }
  
    .paragraph {
      text-align: left;
      width: 100%;
      font-size: 14px;
      line-height: 22px;
    }
   }
  
  @media screen and (min-width: 768px)  and (max-width: 810px) {
    .container {
      padding: 1rem 0.5rem;
      margin-bottom: 10px;
      width: 90%;
      
    }
  
    .heading {
      font-size: 30px;
      margin-bottom: 2rem;
    }
  
    .paragraph {
      text-align: left;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media screen and (min-width: 820px) and (max-width: 1440px){
     .container {
      padding: 1rem 0.5rem;
      margin-bottom: 10px;
      width: 90%;
      
    }
  
    .heading {
      font-size: 40px;
      margin-bottom: 2rem;
    }
  
    .paragraph {
      text-align: left;
      width: 100%;
      font-size: 18px;
      line-height: 22px;
    }
  }
