.wrapper{
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 95%;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr); 
  
  gap: 15px;
  max-width: 1300px;
  height: 680px;
    margin: 20px;
    padding: 1rem; 
   
}

/* LEFT COLUMN */
.profileCard {
  grid-column: 1;
  grid-row: span 2;
   /* tall */
}

.aboutMeCard {
  grid-column: 1;
  grid-row: 4 / 7; 
  
 
}

/* CENTER COLUMN */
.heroCard {
  grid-column: 2;
  grid-row: span 4; 
  

}

.photoCard {
  grid-column: 2;
  grid-row: 5 / 7; 
  
}

/* RIGHT COLUMN */
.experienceCard {
  grid-column: 3;
  grid-row: span 2; 
  
}

.educationToolsCard {
  grid-column: 3;
  grid-row: 5 / 7; 
 
}



 @media screen and (max-width: 760px)  {
   .wrapper{
    margin-right: 0;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
     
  }

  .profileCard,
  .aboutMeCard,
  .heroCard,
  .photoCard,
  .experienceCard,
  .educationToolsCard {
    width: 100%;
    grid-column: auto;
    grid-row: auto;
    height: auto;
  }

  .educationToolsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
 }

 @media screen and (min-width: 768px)  and (max-width: 810px) {
   .wrapper{
    margin-right: 0;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .profileCard,
  .aboutMeCard,
  .heroCard,
  .photoCard,
  .experienceCard,
  .educationToolsCard {
    width: 100%;
    grid-column: auto;
    grid-row: auto;
    height: auto;
    font-size: 20px;
  }

  .educationToolsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
 }

@media screen and (min-width: 820px) and (max-width: 1440px){
    .wrapper{
    margin-right: 0;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .profileCard,
  .aboutMeCard,
  .heroCard,
  .photoCard,
  .experienceCard,
  .educationToolsCard {
    width: 100%;
    grid-column: auto;
    grid-row: auto;
    height: auto;
    font-size: 20px;
  }

  .educationToolsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
