.container {
    
    color: #fff;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .heading {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 100%;
  }
  
  .userList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .userRow {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .userTitle {
    width: 35%;
    font-weight: 600;
    line-height: 1.4;
    font-size: 32px;
    color: #fff;
  }
  
  .userDescription {
    width: 65%;
    line-height: 1.6;
    font-size: 32px;
    font-weight: 400;
    color: #bbb;
  }

   @media screen and (max-width: 760px)  {
    .container{
        padding: 0.7rem;
       margin-top: 50px;
        
        width: 90%;
        margin-bottom: 40px;
    }

    .userRow {
      flex-direction: column;
      gap: 0.2rem;
    }
    .userTitle{
      font-size: 17px;
      width: 50%;
    }
    .userDescription {
      width: 100%;
      font-size: 14px;
    }
    .heading {
      font-size: 20px;
      margin-bottom: 0.8rem;
    }
   }
  
  @media screen and (min-width: 768px)  and (max-width: 810px) {
    .container{
        padding: 0.7rem;
       margin-top: 50px;
        
        width: 90%;
        margin-bottom: 40px;
    }

    .userRow {
      flex-direction: column;
      gap: 0.2rem;
    }
    .userTitle{
      font-size: 20px;
    }
    .userDescription {
      width: 100%;
      font-size: 18px;
    }
    .heading {
      font-size: 40px;
      margin-bottom: 0.8rem;
    }
  }

  @media screen and (min-width: 820px) and (max-width: 1440px){

     .container{
        padding: 0.7rem;
       margin-top: 50px;
        
        width: 90%;
        margin-bottom: 40px;
    }

    .userRow {
      flex-direction: column;
      gap: 0.2rem;
    }
    .userTitle{
      font-size: 22px;
    }
    .userDescription {
      width: 100%;
      font-size: 20px;
    }
    .heading {
      font-size: 40px;
      margin-bottom: 0.8rem;
    }
  }
