.heroContainer {
    position: relative;
    width: 1400px;
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
  
  .backgroundImage {
    position: absolute;
  z-index: 1;
  object-fit: cover; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  border-radius: 1rem;
  overflow: hidden;
   
  }
  
  .cardContent {
    position:absolute; 
    z-index: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    border-radius: 1rem;
   
    
  }
  
  .hola {
    font-size: 280px;
    padding-top: 100px;
    padding-bottom: 1px;
    margin-top: 200px; 
    margin-bottom: 10px; 
    letter-spacing: 100%;
    color: #fff;
    
  }
  
  .subTextContainer {
    display: flex;
    width: 78%;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-top: 1px; 
  }
  
  .productDesigner,
  .lawalJimoh {
    width: 80%;
    color: #A4A4A4;
    padding-left: 70px;
  }
  
  .iamContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 1px; 
  }
  
  .iamText {
    font-size: 200px;
    margin-bottom: 10px; 
    letter-spacing: 10%;
    color: #fff;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 100px;
  }
  
  .fakeLogo {
    width: 150px;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  


   @media screen and (max-width: 760px)  {

    .heroContainer {
    position: relative;
    width: 90%;
    height: 60vh;
    padding-left: 10px;
    margin: 0 auto;
    
  }
       .hola {
      font-size: 80px;
      margin-top: 10px;
      margin-bottom: 0; 
      letter-spacing: 5%;
      text-align: left;
      font-weight: 500;
      width: 160px;
     
    }
    .backgroundImage {
      transform: scale(0.8) translateX(10%); 
      transform-origin: center; 
      transition: transform 0.5s ease-in-out;
      height: 80vh;
      
    }

  



    .mobileCardContent {
      align-items: flex-start; 
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;
      margin-bottom: 60px;
      
    }
  
    .subTextContainer {
      display: none; 
    }
  
    .iamContainer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0; 
      gap: 0; 
    }
  
    .iamText {
      font-size: 80px;
      font-weight: 500;

      text-align: left;
      margin: 0; 
    }
  
    .logoContainer {
      margin-top: 0; 
    }
  
    .fakeLogo {
      width: 123px;
      height: 80px;
      margin-top: 0; 
    }
   }

    @media screen and (min-width: 768px)  and (max-width: 810px) {
     .heroContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-left: 10px;
   
  }
       .hola {
      font-size: 100px;
      margin-top: 10px;
      margin-bottom: 0; 
      letter-spacing: 5%;
      text-align: left;
      font-weight: 500;
      width: 210px;
      
    }
    .backgroundImage {
      transform: scale(1.1) translateX(15%); 
      transform-origin: center; 
      transition: transform 0.5s ease-in-out;
      height: 70vh;
      width: 80%;
      
    }

  



   .cardContent {
   
    align-items:flex-start;
    max-width: 1400px;
    width: 100%;
    border-radius: 1rem;
    
    
  }
  
    .subTextContainer {
      display: none;
    }
  
    .iamContainer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0; 
      gap: 0; 
    }
  
    .iamText {
      font-size: 60px;
      font-weight: 500;
 border: 2px solid red;
      text-align: left;
      margin: 0;
    }
  
    .logoContainer {
      margin-top: 0; 
    }
  
    .fakeLogo {
      width: 83px;
      height: 20px;
      margin-top: 10px; 
      padding-bottom: 80px;
    }
    }

    @media screen and (min-width: 820px) and (max-width: 1440px){

      .heroContainer {
    position: relative;
    width: 90%;
    height: 90vh;
    padding-left: 10px;
    margin: 0 auto;
   
  }
       .hola {
      font-size: 150px;
      margin-top: 10px;
      margin-bottom: 0; 
      letter-spacing: 5%;
      text-align: left;
      font-weight: 500;
      width: 430px;
    }
    .backgroundImage {
      transform: scale(0.9) translateX(1%);
      transform-origin: center; 
      transition: transform 0.5s ease-in-out;
      height: 100vh;
      width: 79%;
    }

  



    .mobileCardContent {
     align-items: flex-start;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;
      margin-bottom: 60px;
      
      
    }
  
    .subTextContainer {
       padding-bottom: 30px;
    }
  
    .iamContainer {
      flex-direction: row;
      align-items: flex-start;
      margin-top: 0; 
      gap: 0; 
    }
  
    .iamText {
      font-size: 140px;
      font-weight: 500;
      text-align: left;
    }
  
    .logoContainer {
      margin-top: 60px; 
      margin-left: 40px;
    }
  
    .fakeLogo {
      width: 133px;
      height: 80px;
      
    }
    
     }
