.menuWrapper {
    padding: 2rem;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 100px;
  }
  
  .menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: nowrap;  /* Prevent wrap on zoom */
  }
  
  
  
  .imageWrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }
  
  .menuImage {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: fill;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  }
  
  .imageTitle {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .menuWrapperr{
      margin-bottom: 10px;
      padding: 0.5rem;
    }
  }
  