.menuWrapper {
    margin-bottom: 100px;
  }
  
  .imageWrapper {
    width: 1400px;
    position: relative;
    margin: 0 auto;
  }
  
  .menuImage {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: fill;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  }
  
  

   @media screen and (max-width: 760px)  {
    .menuWrapper {
    margin-bottom: 20px;
  }
  
  .imageWrapper {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
  
   }
  
@media screen and (min-width: 768px)  and (max-width: 810px) {
    .menuWrapper {
    margin-bottom: 50px;
  }
  
  .imageWrapper {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
  
 
  }
  

  @media screen and (min-width: 820px) and (max-width: 1440px){
      .menuWrapper {
    margin-bottom: 50px;
  }
  
  .imageWrapper {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
  }
