.gridWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; 
  padding: 20px; 
  margin: 0 180px; 
  justify-content: center;
} 

.card {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  border-radius: 12px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  border: 1px solid #9E9E9E;
  width: 400px;
}

.card:hover {
  transform: translateY(-5px); 
}

.icon {
  margin-top: 30px;
}

.cardTitle {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}

.cardDescription {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #A4A4A4;
  text-align: left;
}

.container {
  color: white;
  padding: 0 0;
  text-align: center;
  width: 1400px;
}

.titleRow {
  display: flex;
  justify-content: center;
  height: 15vh;
  
}

.recent {
  font-weight: 400;
  font-style: italic;
  font-size: 8.8rem;
}

.projects {
  font-weight: 800;
  font-size: 8.8rem;
}

.subLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 10px;
  font-size: 24px;
  letter-spacing: 1px;
}

.subLinks span {
  white-space: nowrap;
}

.line {
  height: 1px;
  width: 380px;
  background-color: gray;
}



   @media screen and (max-width: 760px)  {
    .gridWrapper {
    margin: 0 20px;
    
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px; 
     padding: 0;
    margin:  0; 
    
  }

  .card {
    min-height: 150px;
    width: 90%;
  
   margin: 0 auto;
  }

  .cardTitle {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    
  }
  
  .cardDescription {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .titleRow {
     
      height: 6.5vh;
      
    }

    
  .recent{
      font-size: 35px;
  }

  .projects{
      font-size: 35px;
  }

  .subLinks {
      gap: 8px;
      font-size: 13px;
    }

    .line {
      height: 1px;
      width: 50px;
    }

    .container {
  color: white;
  padding: 0 0;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
   }

   @media screen and (min-width: 768px)  and (max-width: 810px) {
   .gridWrapper {
      padding: 0px 0px;
    margin: 10px 0px;
  }
  
  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 ; 
    margin-left: 20px;
    gap: 14px;
    padding: 0;
    
  }

  .card {
    min-height: 150px;
    width: 100%;
  }

  .cardTitle {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    
  }
  
  .cardDescription {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }

  .titleRow {
     
      height: 15vh;
      
    }

   
  .recent{
      font-size: 70px;
  }

  .projects{
      font-size: 70px;
  }

  .subLinks {
      gap: 15px;
      font-size: 25px;
    }

    .line {
      height: 1px;
      width: 80px;
    }

        .container {
  color: white;
  padding: 0 ;
  text-align: center;
  width: 95%;
}
   }



     @media screen and (min-width: 820px) and (max-width: 1440px){

      .gridWrapper {
      padding: 0px 0px;
    margin: 10px 40px;
  }
  
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 ; 
    gap: 14px;
    padding: 0;
    
  }

  .card {
    min-height: 150px;
    width: 100%;
  }

  .cardTitle {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    
  }
  
  .cardDescription {
    margin: 0;
    font-size: 25px;
    line-height: 24px;
    font-weight: 400;
  }

  .titleRow {
     
      height: 12vh;
      
    }

    .card{
      width: 100%;
    }
  .recent{
      font-size: 5rem;
  }

  .projects{
      font-size: 5rem;
  }

  .subLinks {
      gap: 20px;
      font-size: 1.5rem;
    }

    .line {
      height: 1px;
      width: 80px;
    }

        .container {
  color: white;
  padding: 0 ;
  text-align: center;
  width: 95%;
  
}
     }
