.card{
   
    
   margin: 0 auto;
   margin-top: 20px;
    
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    height: 900px;
    position: relative;
    width: 1200px;
   
    margin: 0 auto;
  }
  
  .leftText {
    flex: 1;
    font-size: 80px;
    text-align: left;
    max-width: 580px;
    margin-left: 60px;
   
  }
  
  .leftText h1 {
    line-height: 1.2;
  }

  .leftText span {
    color: #444343;
  }
  
  .rightText {
    flex: 1;
    font-size: 42px;
    text-align: right;
    max-width: 580px;
    margin-right: 60px;
    color: #444343;
    
    
  }
  
  .rightText strong {
    color: #fff;
  }
  
  @media (max-width: 760px) {

    .section {
        flex-direction: column;
        height: auto;
        padding: 0;
        position: relative;
        width: 75%;
        margin: 0 auto;
        
      }
    
      .leftText {
        font-size: 40px;
        text-align: left;
        align-self: flex-start; 
        margin-left: 0px;
        max-width: 200px;
        margin-bottom: 20px;
       
      }
    
      .rightText {
        font-size: 24px;
        text-align: right;
        align-self: flex-end; 
        margin-top: 50px; 
        margin-right: 0px;
      }
  }

  @media screen and (min-width: 768px)  and (max-width: 810px) {
   
      .section {
        flex-direction: column;
        height: auto;
        position: relative;
        width: 95%;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
      }
      .leftText {
        font-size: 40px;
        text-align: left;
        align-self: flex-start; 
        margin-left: 0px;
        max-width: 220px;
        margin-bottom: 20px;
      }
    
      .rightText {
        font-size: 30px;
        text-align: right;
        align-self: flex-end; 
        margin-top: 50px; 
        margin-right: 0px;
      }
  }

  @media screen and (min-width: 820px) and (max-width: 1430px){
    
     .section {
        flex-direction: column;
        height: auto;
        position: relative;
        width: 95%;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
      }
    
      .leftText {
        font-size: 50px;
        text-align: left;
        align-self: flex-start; 
        margin-left: 20px;
        max-width: 220px;
        margin-bottom: 20px;
      }
    
      .rightText {
        font-size: 30px;
        text-align: right;
        align-self: flex-end; 
        margin-top: 50px; 
        margin-right: 10px;
       max-width: 500px;
      }
  }
