.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 32px;
  left: 8px;
  height: 990px;
  width: 40px;
  z-index: 1;
  background-color: transparent;

}

/* Vertical Line */
.line {
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 93%;
  background-color: rgba(155, 155, 155, 1);
}

/* Logo */
.logo {
  margin-bottom: 300px;
  text-align: center;
  left: 7px;
}

.mobileMenuItem{
  margin-top: 400px;
}

/* Icons Container */
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Each Icon */
.icon {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
}

/* Last Icon (Copy) positioning */
.copyIcon {
  margin-top: 370px;
}

/* Mobile Responsive */

@media screen and (max-width: 480px)  {
  .sidebar {
    border: none;
    padding-top: 5px;
  }

  .line {
    display: none;
  }

  .icons {
    display: none;
  }

  .logo {
    display: block;
    margin-bottom: 0;
  }

}

@media screen and (min-width: 768px)  and (max-width: 810px) {
  .sidebar {
    border: none;
    padding-top: 5px;
  }

  .line {
    display: none;
  }

  .icons {
    display: none;
  }

  .logo {
    display: block;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 820px) and (max-width: 1440px){
    .sidebar {
    height: 590px;
    padding-top: 5px;
     width: 30px;
    
  }

  .line {
    height: 95%;
  }

  .icons {
     width: 24px;
  }

  .logo {
    margin-bottom: 200px;
    
  }

  .copyIcon {
  margin-top: 0px;
}

}
